/*
 * Roundeds
 */
.rounded-0 {
    border-radius: 0 !important;
}

.rounded-xs {
    border-radius: 1px !important;
}

.rounded-sm {
    border-radius: 2px !important;
}

.rounded-lg {
    border-radius: 8px !important;
}

.rounded-xl {
    border-radius: 24px !important;
}

.rounded-shaped {
    border-radius: 24px 0 !important;
}

/*
 * Borders
 */
.border-xs {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(var(--app-border-color), var(--app-border-opacity)) !important;
}

.border-sm {
    border-width: 2px !important;
    border-style: solid !important;
    border-color: rgba(var(--app-border-color), var(--app-border-opacity)) !important;
}

.border-md {
    border-width: 4px !important;
    border-style: solid !important;
    border-color: rgba(var(--app-border-color), var(--app-border-opacity)) !important;
}

.border-lg {
    border-width: 6px !important;
    border-style: solid !important;
    border-color: rgba(var(--app-border-color), var(--app-border-opacity)) !important;
}

.border-xl {
    border-width: 8px !important;
    border-style: solid !important;
    border-color: rgba(var(--app-border-color), var(--app-border-opacity)) !important;
}